@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
    --font-ppal: 'Macondo', cursive;
}

.logo {
    font-family: var(--font-ppal);
    font-size: 2.5rem;
}

.btn-new {
    float: right;
}

.cstm-card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin: 1rem auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.card-form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

input,
select {
    width: 70% !important;
    text-align: center;
    margin: 0 auto;
}

.card-label {
    font-family: var(--font-ppal);
    font-weight: bold;
    text-align: center;
}

.cstm-img {
    width: 4rem;
    height: auto;
}